.main {
  /* margin-top: 2.4rem; */
  width: 100%;
  height: 100vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  color: antiquewhite;
  /* background-color: var(--color-background-900); */
  /* padding: 2.4rem; */
}


